<!-- Navigation bar -->
<nav>
    <ul>
      <li><a [routerLink]="'/employees'" routerLinkActive="active">Employees</a></li>
      <li><a [routerLink]="'/viewemployees'" routerLinkActive="active">ViewEmployees</a></li>
      <li><a [routerLink]="'/vendors'" routerLinkActive="active">Vendors</a></li>
      <li><a [routerLink]="'/viewvendors'" routerLinkActive="active">ViewVendors</a></li>
      <li><a [routerLink]="'/sentEmails'" routerLinkActive="active">sent Emails to vendors</a></li>
      <li><a [routerLink]="'/listsentemailsToVendors'" routerLinkActive="active">Sended emails to vendors</a></li>
    </ul>
  </nav>